@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "component/reset.css";
@import "component/variable.css";
/* component*/
@import "component/status-bar.css";
@import "component/badges.css";
@import "component/navigation-bar.css";
@import "component/screens-header.css";
@import "component/user-component.css";
@import "component/icon-row.css";
@import "component/alt-screen-header.css";
@import "component/no-mobile.css";
/*screens*/
@import "screens/login.css";
@import "screens/more.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/chats.css";
body {
    font-family: 'Open Sans', sans-serif;
    color:#2e363e;
    height: 10000vh;
}


.main-screen{
    padding:0px 10px;
    margin-right: 8px;
}