#chat-screen{
    background-color: #abc1d1;
    height: 10000vh;
}

#chat-screen .alt-header__coulumn:last-child >i{
    margin-right: 10px;
}

#chat-screen .alt-header__coulumn:first-child{
   display: flex;
}
#chat-screen .alt-header__coulumn:first-child > a > i{
   
    margin-right: 20px;
 }
#chat-screen .alt-header,
#chat-screen .status-bar{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top:0;
    background-color: #abc1d1;
    z-index: 1;
    
}

#chat-screen .status-bar{
    z-index: 2;
}
.main-chat{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s linear;
    
}
.time-stamp{
    padding:8px;
    color: white;
    background-color: #92a4b2;
    border-radius: 25px;
    opacity: 0.6;
    font-size: 13px;
}
.message-row img{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-right: 10px;
}
.message-row{
    display: flex;
    width: 100%;
    margin-bottom:5px ;
}
.message__info{
    margin-top: 9px;
    display: flex;
    align-items: flex-end;
}
.message__author{
   
    opacity: 0.7;
}
.message_bubble{
   
    padding: 7px 10px;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius:0;

}
.message_time{
    font-size: 5px;
    margin-left: 3px;
}


.own_message-row{
    display: flex;
    width: 100%;
    margin-bottom:5px ;
    justify-content: flex-end;
}
.own_message-row .message_bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0;
    border-top-left-radius:10px;
    order: 1;
}
.own_message-row .message_time{
    order:0;
    margin-right: 5px;
}
.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:5px 25px;
    align-items: center;
}
.reply .reply__column:first-child{
    width: 10%;
    opacity: 0.6;
}
.reply .reply__column:last-child{
    width: 90%;
    margin-right: 40px;
}
.reply input{
    height: 30px;
    width: 100%;
    border-radius: 20px;
   border: none;
  
    padding:3px 7px;
    transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right:60px;
    top: 12px;
}
.reply__column:last-child > i{
    right: 100px;
    top: 16px;
    
    
}
.reply__column button{
    background-color: var(--yellow);
    border:none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.reply__column input:focus,
.reply__column input:active{
    outline: none;
    font-style: none;

}
.reply__column button i{
    opacity: 1;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button{
    transition: opacity 0.3s easein;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button{
    opacity: 0;
}
.reply:focus-within{
    transform: translateY(80px);
}
.reply:focus-within input{
    width: 90vw;
    transform: translateX(-8%) translateY(-80px);
}
